.add-visitor-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.visitor-form-frame {
    max-width: 700px;  /* Adjusted form width */
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border: 2px solid #346566; /* Blue frame around the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for emphasis */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-1 {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    padding: 5px 0;
    margin-bottom: 15px;
    outline: none;
    transition: border-color 0.3s;
    background-color: transparent;
    color: #000;
}

.input-1:focus {
    border-bottom-color: #346566;
}

textarea.input-1 {
    resize: vertical;
    min-height: 80px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #346566;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}
.checkbox-text {
    font-size: 16px; 
    color: #000000;      
    margin-left: 10px; 
}